*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.navbar{
    display: flex;
    
    
}
.navbar li a{
    text-decoration: none;
    color: hsl(0, 0%, 15%);
}
.navbar li{
    list-style: none;
    margin-right: 70px;
    
}

.section-one-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;

}

.heading-two-text >h2{
    font-size: 30px;
    font-family: "Raleway";
    font-weight: 700;

}

.heading-two-text >p{
    font-size: 16px;
    margin-top: 20px;
    
}

.get-started{
    padding: 7px 45px ;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: none;
    margin-left: 30px;
}
.input-section{
    display: flex;
    margin-top: 20px;
}
.search{
    padding: 7px 35px ;
}