*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
.navbar{
    display: flex;   
}
.navbar li a{
    text-decoration: none;
    color: hsl(0, 0%, 15%);
}
.navbar li{
    list-style: none;
    margin-right: 70px;   
}

.section-one-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}


.image-wrapper{
    margin-left: 100px;
}


h2{
    font-size: 30px;
    font-family: "Raleway";
    font-weight: 700;
}

.heading-two-text >p{
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;    
}

.get-started{
    padding: 7px 45px ;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: none;
    margin-left: 30px;
}

.input-section{
    display: flex;
    margin-top: 20px;
}
.search{
    padding: 7px 35px ;
}

.section-two-paragraph{
    font-size: 12px;
    margin-top: 20px;
    font-weight: 400;
}

.container{
    margin-top: 100px;
}

.fylo-link-wrapper{
    display: flex;
    align-items: end;
    font-size: 12px;
    margin-top: 20px;  
}

.fylo-link-wrapper a{
    color: hsl(170, 45%, 43%);
}


.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;             ;
}

.general-font{
    font-size: 12px;
    margin-left: 15px;
    
}

.card-wrapper{
    margin-top: 60px;
    width: 300px;
    height: 180px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.get-access{
    background-color: hsl(238, 22%, 44%);
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;

}
.get-access h2{
    color: white;
    font-size: 30px;
    font-family: "Raleway";
    font-weight: 700;

    
}

.get-access p{
    color: white;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;

}

.get-access > div{
    margin-top: 40px;
    margin-left: 40px;
}

.get-early-access{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;
}


.early-access-signup {
    padding: 10px 15px; /* Adjust padding as needed */
    width: 380px; /* Set a width for the input field */
   
}
